.btn {
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  border: none;
  color: $color-primary-light;
  font-size: 1.8rem;
  font-weight: 700;
  padding: .5rem;
  cursor: pointer;

  &:hover {
    color: $color-white;
    background-color: $color-primary-light;
  }

  &-selected {
    color: $color-white;
    background-color: $color-primary-light;
  }
}