.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: $color-primary-light;
  padding-bottom: .5rem;
  transition: background-color .5s ease-out;
  position: relative;

  &__title {
    text-align: center;
    color: $color-white;
    font-size: 4rem;
  }

  &__colorDisplay {
    color: $color-white;
    font-size: 5em;
    text-transform: uppercase;
    text-align: center;
    transition: all .5s ease-out;
  }

  &__help {
    position: absolute;
    top: 10%;
    right: 2%;
    width: 3rem;
    fill: #fff;
    transition: all .4s ease-out;
    cursor: pointer;

    &:hover {
      fill: $color-primary-dark;
      transform: scale(1.1);
    }
  }
}