.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: $color-gray-light-2;

  &__message {
    width: 28rem;
    text-align: center;
    font-size: 1.8rem;
  }
}