.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: $color-primary-light;
  padding-bottom: .5rem;
  transition: background-color .5s ease-out;

  &__title {
    text-align: center;
    color: $color-white;
    font-size: 4rem;
  }

  &__colorDisplay {
    color: $color-white;
    font-size: 5em;
    text-transform: uppercase;
    text-align: center;
    transition: all .5s ease-out;
  }
}